<%= link_to 'I want to recommend a book', new_book_recommendation_path, class: "pull-left btn btn-primary" %>

<br>
<br>

<div class="col-md-4">
  <div class="list-group">
    <% @book_recommendations.each do |rec| %>
      <%= link_to rec, class: "list-group-item" do %>
        <h4 class="list-group-item-heading">
          <%= rec.student.titleize %>
        </h4>

        <p class="list-group-item-text">
          <%= rec.title.titleize %> by  <%= rec.author.titleize %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="col-md-8">

</div>