<%= link_to 'I want to recommend a book', new_book_recommendation_path, class: "pull-left btn btn-primary" %>

<%= link_to "Comment on this recommendation", new_book_recommendation_comment_path(@book_recommendation), class: "btn btn-primary pull-right" %>

<br>
<br>

<div class="col-md-4" style="padding-left: 0;">
  <div class="list-group">
    <% @book_recommendations.each do |rec| %>
      <%= link_to rec, class: "list-group-item #{@book_recommendation && rec.id == @book_recommendation.id ? 'active' : ''}" do %>
        <h4 class="list-group-item-heading">
          <%= rec.student.titleize %>
        </h4>

        <p class="list-group-item-text">
          <%= rec.title.titleize %> by  <%= rec.author.titleize %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="col-md-8" style="padding-right: 0;">
  <h4 style="margin-top: 0;">I would recommend this book because...</h4>
  <p><%= @book_recommendation.description %></p>
  <br>

  <% @book_recommendation.comments.each do |comment| %>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4>
          <%= comment.student.titleize %>
          <div class="pull-right">
            <%= comment.created_at.strftime("%x") %>
          </div>
        </h4>
      </div>

      <div class="panel-body"><%= comment.body %></div>
    </div>
  <% end %>

  <% if @book_recommendation.comments.empty? %>
    <p>No comments yet</p>
  <% end %>
</div>